// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 NXP
 */

#include "imx93-gis-frdm.dts"

&lvds_bridge {
	status = "disabled";
};

&ldb {
	status = "disabled";
};

&ldb_phy {
	status = "disabled";
};

&dphy {
	status = "okay";
};

&dsi {
    status = "okay";

    ports {
        port@1{
            reg = <1>;

            dsi_to_panel: endpoint {
                remote-endpoint = <&panel_to_dsi>;
            };
        };
    };

    panel@0{
        reg = <0>;
        //compatible = "ws,ws_800x480";
        compatible = "jbd,jbd4020-right";
        vddi-gpio = <&gpio2 2 GPIO_ACTIVE_HIGH>;
        avdd-gpio = <&gpio2 3 GPIO_ACTIVE_HIGH>;
        avee-gpio = <&gpio2 4 GPIO_ACTIVE_HIGH>;
        ddc-i2c-bus = <&lpi2c3>;

        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_jbdpmic>;

        ports {
            port@1{
                panel_to_dsi: endpoint {
                    remote-endpoint = <&dsi_to_panel>;
                };
            };
        };
    };
};

&lcdif {
	//assigned-clock-rates = <484000000>, <121000000>, <400000000>, <133333333>;
	assigned-clock-rates = <400000000>, <50000000>, <400000000>, <133333333>;
};

&lpi2c3 {
	jbd4020: panel_r@59 {
		compatible = "gis,jbd4020_i2c";
		reg = <0x59>;
		//interrupt-parent = <&pcal6524>;
		//interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";

        regmap {
            luminance@302ae38 {
                reg = <0x0302ae38>;
                bitmask = <0x00001fff>;
                label = "luminance";
            };
            current@302ae90 {
                reg = <0x0302ae90>;
                bitmask = <0x000000ff>;
                label = "current";
            };
            temperature@200300c {
                reg = <0x0200300c>;
                bitmask = <0x000003ff>;
                label = "temperature";
            };
            flip@3030004 {
                reg = <0x03030004>;
                bitmask = <0x00000002>;
                label = "flip";
            };
            mirror@3030004 {
                reg = <0x03030004>;
                bitmask = <0x00000001>;
                label = "mirror";
            };
            offset@3030008 {
                reg = <0x03030008>;
                bitmask = <0x0001f1f1>;
                label = "offset";
            };
        };
	};
    panel_g@5a {
		compatible = "gis,jbd4020_i2c_5a_dummy";
		reg = <0x5a>;
		status = "okay";
    };
    panel_g@5b {
		compatible = "gis,jbd4020_i2c_5b_dummy";
		reg = <0x5b>;
		status = "okay";
    };
};

&iomuxc {
    pinctrl_jbdpmic: jbdpmicgrp {
        fsl,pins = <
            MX93_PAD_GPIO_IO02__GPIO2_IO02 0x40000041
            MX93_PAD_GPIO_IO03__GPIO2_IO03 0x40000041
            MX93_PAD_GPIO_IO04__GPIO2_IO04 0x40000041
        >;
    };
};

