[Unit]
Description=python light engine app
After=jbd4040-reinit.service
Requires=jbd4040-reinit.service

[Service]
Type=exec
ExecStart=/usr/bin/run_pyLightEngineApp.sh
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=graphical.target
