[Unit]
Description=python AR Glasses Message Server app

[Service]
Type=exec
ExecStart=/usr/bin/run_pyMessageServer.sh
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=graphical.target
