[Unit]
Description=JBD4040 Display I2C Driver Reset Sequence
# 確保這個腳本在系統掛載完成且多用戶模式啟動後才執行
After=multi-user.target
Before=weston.service
[Service]
# Type=oneshot 代表這是一個執行完就退出的腳本
Type=oneshot
# 這裡填入你剛剛寫好的腳本絕對路徑
ExecStart=/usr/bin/jbd4040-reinit.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
