[Unit]
Description=python AR Glasses Demo app

[Service]
Type=exec
ExecStart=/usr/bin/run_pyARGlassesDemo.sh
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=graphical.target
