[Unit]
Description=python AR Glasses Demo app
After=weston.service

[Service]
user=root
Environment="WAYLAND_DISPLAY=/run/wayland-0"
Type=exec
ExecStart=/usr/bin/run_pyARGlassesDemo.sh
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=graphical.target
